body {
    background-color: #070606;
    font-family: 'Raleway', sans-serif;
    margin: 150px 50px;
}

h1 {
    color: #FFFFFF;
    font-size: 70px;
    margin-bottom: 0px;
}

p {
    color: #BDBDBD;
    line-height: 30px;
}

#button {
    background-color: #2B892E;
    color: #FFFFFF;
    border-radius: 50px;
    border: 0;
    padding: 15px 25px;
    margin: 10px 0;
}

#image {
    margin-top: 60px;
    width: 800px;
}